body {
    background-color: #5F7161;
}

#btn {
    display:flex;
}

#header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #6D8B74;
    background-color: wheat;
    padding: 10px;
    border-radius: 15px;
    width: 500px;
    margin: auto;
    margin-top: 150px;
    animation: bounceInUp 1s ease-in-out;
}

#view-btn {
    background-color: wheat;
    color: #6D8B74;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 25px;
    margin: auto;
    cursor: pointer;
    margin-top: 100px;
    border-radius: 5px;
    transition: transform 0.5s ;
}

#connectWallet{
    background-color: wheat;
    border: none;
    color: #6D8B74;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin-left: 815px;
    margin-top: 100px;
    cursor: pointer;
    border-radius: 5px;
    animation: bounceInDown 1s ease-in-out;
    transition: transform 0.5s;
}

#manager-btn {
    background-color: wheat;
    border: none;
    color: #6D8B74;
    padding: 15px 32px;
    text-align: center;
    font-size: 25px;
    margin-left: 40px;
    margin-top: 100px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.5s;
}

#owner-btn {
    background-color: wheat;
    border: none;
    color: #6D8B74;
    padding: 15px 32px;
    text-align: center;
    font-size:25px;
    margin-left: 1200px;
    margin-top: 100px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.5s;
}

#testament, #amount {
    border: 1px solid #6D8B74;
    background-color: wheat;
    border-radius: 5px;
    color: #6D8B74;
    box-sizing: border-box;
    font-size: 30px;
    padding: 12px 20px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    width: 1000px;
    animation: backInDown 2s ease-in-out;
}

#view-btn:hover, #manager-btn:hover, #owner-btn:hover {
    background-color: #6D8B74;
    color: wheat;
    transform: scale(1.2);
}

#view-btn, #manager-btn, #owner-btn {
    animation: backInUp 1.5s ease-in-out;
}

@keyframes bounceInDown {
    from {
        transform: translateY(-2000px);
    }
    60% {
        transform: translateY(30px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes bounceInUp {
    from {
        transform: translateY(-2000px);
    }
    60% {
        transform: translateY(30px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes backInUp {
    from {
        transform: translateY(-2000px);
    }
    60% {
        transform: translateY(30px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes backInDown {
    from {
        transform: translateY(-2000px);
    }
    60% {
        transform: translateY(30px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0);
    }
}
