body {
    background-color: #5F7161;
}

#header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #6D8B74;
    background-color: wheat;
    padding: 10px;
    border-radius: 15px;
    width: 500px;
    margin: auto;
    margin-top: 250px;
    animation: backInUp 1s ease-in-out;
}

#back-btn {
    background-color: wheat;
    color: #6D8B74;
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    margin-left: 1700px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    animation: backInUp 1s ease-in-out;
    transition: transform 1s ;
}

#owneraddress {
    width: 700px;
    height: 30px;
    font-size: 25px;
    padding: 10px;
    border: 1px solid wheat;
    border-radius: 5px;
    color: #6D8B74;
    margin-top: 150px;
    margin-left: 410px;
    background-color: wheat;
    animation: backInUp 1.5s ease-in-out;
}

#report {
    background-color: wheat;
    color: #6D8B74;
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    animation: backInUp 1s ease-in-out;
    margin-left: 40px;
    cursor: pointer;
    transition: transform 1s;
}

@keyframes backInUp {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 1750px;
    }
}

#back-btn:hover {
    background-color: #6D8B74;
    color: wheat;
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
}

#report:hover {
    background-color: #6D8B74;
    color: wheat;
    transform: matrix(1.2, 0, 0, 1.2, 0, 0);
}

@keyframes backInUp {
    from {
        transform: translateY(-2000px);
    }
    60% {
        transform: translateY(30px);
    }
    75% {
        transform: translateY(-10px);
    }
    90% {
        transform: translateY(5px);
    }
    to {
        transform: translateY(0);
    }
}